* { @include box-sizing(border-box); }
a{ text-decoration: none; color: inherit; }
html{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 62.5%;
}
body{
	margin: 0;
	font-family: $font-stack;
	font-size: 16px;
	font-size: 1.6rem;
	background: #eee;
}
*:focus{ outline: 3px solid rgba(62, 184, 179, $reg_alpha); }
::selection{ background: #999; color: white; }
// Some defaults
ol, ul{ margin: 0; padding: 0; list-style-type: none; }
[type="submit"],button{
	font-family: $font-stack;
	cursor: pointer;
}
[class~="logo"]{
	@include ir("../images/logo.jpg", $logo-size, $logo-size);
	background-position: center;
	background-size: $logo-size - 20px;
	position: absolute;
	left: 0;
	right: 0;
	top: 220px;
	margin: 0 auto;
	z-index: 10;
	border: solid 10px $color-pink;
	box-shadow: 0 1px 2px $black;
	border-radius: 50%;
	@include breakpoint(max-width 900px){
		top: $header-height - 150px - 200px;
	}
	@include breakpoint(max-width 625px){
		top: $header-height - 420px;
	}
	@include breakpoint(max-width 340px){
		top: $header-height - 430px;
	}
}
header{
	overflow: hidden;
	height: $header-height;
	position: relative;
	.overlay{
		background: url(../images/dot-texture.png);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: $header-height;
		z-index: 9;
	}
	@include breakpoint(max-width 900px){
		height: $header-height - 150px;
	}
	@include breakpoint(max-width 625px){
		height: $header-height - 250px;
		.overlay{
			height: $header-height - 250px;
		}
	}
	@include breakpoint(max-width 455px){
		.rslides{
			margin-top: $nav-height;
		}
	}
	@include breakpoint(max-width 340px){
		height: $header-height - 270px;
	}
}
nav{
	position: absolute;
	z-index: 100;
	width: 100%;
	min-height: $nav-height;
	background: rgba($color-pink,.5);
	> ul{
		float: right;
		margin-right: 10rem;
		li{
			display: inline-block;
			a{
				display: block;
				padding: 19px 10px;
				width: 100%;
				color: $white;
				&:hover{
					background: rgba(darken($color-pink, 9), .5);
				}
			}
		}
		@include breakpoint(max-width 950px){
			float: none;
			position: absolute;
			top: $nav-height;
			right: -100px;
			z-index: 300;
			background: $color-primary;
			display: none;
			li{
				display: block;
				text-align: center;
				a{
					padding: 10px;
					width: 200px;
				}
			}
		}
	}
	.social{
		width: 200px;
		background: $color-primary;
		float: right;
		height: $nav-height;
		padding: 10px;
		a{
			display: inline-block;
			margin: 10px 15px;
			svg{
				fill: lighten($color-pink, 9);
				&:hover{
					fill: darken($color-pink, 2);
				}
			}
		}
	}
	h2{
		float: left;
		color: $white;
		margin: 15px 40px;
		font-size: 2rem;
		font-weight: bold;
		@include breakpoint(max-width 710px){
			margin: 15px 2px;
		}
		@include breakpoint(max-width 642px){
			text-indent: -380px;
			&:after{
				content: "OYEP";
				padding-left: 80px;
			}
		}
		@include breakpoint(max-width 380px){
			display: none;
		}
	}
	>svg{
		float: right;
		margin: 12px 10px;
		display: none;
		cursor: pointer;
		@include breakpoint(max-width 950px){
			display: block;
		}
	}
}

section{
	@include container(100%);
	position: relative;
	width: 90%;
	min-height: 100px;
	background: $white;
	margin: 50px auto;
	padding: 5rem;
	font-size: 2rem;
	h3{
		text-transform: uppercase;
		font-size: 3rem;
		font-weight: lighter;
	}
}
.pin{
	position: absolute;
	top: 10px;
	right: -20px;
	background: $color-wine;
	color: $white;
	padding: 20px;
	font-style: italic;
	&:before{
		content: '#';
	}
	@include breakpoint(max-width 410px){
		display: none;
	}
}
// Grids with AMCSS style
@for $i from 1 through 12 {
	[data-grid="#{$i}"]{
		@include span( 100% * ( $i / 12% ) - 2% );
	}
}
[class~="circle-caption"]{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	@include breakpoint(max-width 960px){
		width: 100%;
		height: 100%;
	}
	@include breakpoint(max-width 800px){
		width: 280px;
		height: 280px;
	}
	@include breakpoint(max-width 410px){
		width: 180px;
		height: 180px;
	}
}
@include breakpoint(max-width 800px){
	[data-grid~="7"]{
		width: 100%;
	}
	[data-grid~="5"]{
		@extend [data-grid~="7"];
		text-align: center;
	}
}
[data-button]{
	border: none;
	background: #ddd;
	color: #444;
	font-size: 2rem;
	padding: 20px;
}
[data-button~="large"]{
	padding: 15px 40px;
}
[data-color~="wine"]{
	background: $color-wine;
	color: $white;
}
[data-button][data-color~="wine"]{
	background: darken($color-pink, 9);
	&:hover{
		background: darken($color-primary, 5);
	}
}
[class~="pink-text"]{
	color: $color-wine;
}
[class~="convertibles"]{
	width: 100%;
	text-align: center;
	li{
		display: inline-block;
		margin: 0 10px;
		>img{
			width: 340px;
			height: 400px;
		}
	}
}
.owl-carousel img{
	width: 350px;
	height: 400px;
	overflow: hidden;
	padding: 10px;
}
.owl-item img{max-width:100%;height:auto;}
footer{
	@include container(100%);
	background: $color-primary;
	margin-top: 10px;
	border-top: solid 3rem darken($color-primary, 8);
	padding: 20px;
	color: $white;
	font-size: 1.8rem;
	>div{
		text-align: center;
		&:nth-of-type(2){
			border-right: solid thin darken($color-primary, 4);
			border-left: solid thin darken($color-primary, 4);
			padding: 0 5px;
		}
		@include breakpoint(max-width 768px){
			width: 100% !important;
			margin: 0 !important;
			&:nth-of-type(2){
				border: none;
			}
		}
	}
	h3{
		font-size: 3rem;
	}
	a{ color: darken($color-wine, 2); }
}